---
title: "Mobile"
layout: archive
permalink: categories/mobile
author_profile: true
sidebar_main: true
---
{% include group-by-array collection=site.posts field="categories" %}
{% for category in group_names %}
  {% if category == "Android" or category == "Flutter" or category == "iOS" %}
    {% assign posts = group_items[forloop.index0] %}
    <h2 class="archive__subtitle">{{ category }}</h2>
    {% for post in posts %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endfor %}