/* 글 본문 폰트 적용*/
body {
    font-family: 'Nanum Gothic', serif;
}

/* 블로그 들어갔을때 글 제목 폰트 변경*/
div {
    article{
        h2{
            a{
                font-family: 'Nanum Gothic', serif;
            }
        }
    }
}
/* 글 내의 타이틀 변경*/
article{
    div{
        header{
            h1{
                font-family: 'Nanum Gothic', serif;
            }
        }
    }
}
article{
    div{
        section{
            h2{
                font-family: 'Nanum Gothic', serif;
            }
        }
    }
}
div{
    article{
        div{
            a{
                font-family: 'Nanum Gothic', serif;
            }
        }
    }
}